<div ng-controller="UsersCreateController">   

<div class="row" id="header"> 
<h1>Create User</h1>
<p>Return to <a href="/ipeer4/#/">home page</a></p>
</div>

<form class="form-horizontal" role="form"  id="userCreateForm">

    <p><em>At this time, users can only be added one at a time.</em></p>
    
    <div class="form-group">    
        <label class="control-label col-sm-2" for="firstname" id="firstname_label">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" ng-model="user.first_name">
    </div></div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="lastname" id="lastname_label">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" ng-model="user.last_name">
    </div></div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="email" id="email_label">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="user.email">
    </div></div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="submit" ng-click="createUser()">Save</button>
            <button type="submit" id="cancel" ng-click="cancel()">Cancel</button>
    </div></div>
    
</form>

</div>