<div ng-controller='EnrollmentsManageController' id="enrollmentsManagePanel">
<div ng-if="showEnrollments">
    
<div class="row" id="header"> 
<h1>Course Enrollments - Manage</h1>
<p>Return to <a href="#/">home page</a></p>
</div>
    
<h2 id="courseName">Manage Enrollments for {{course.course.name}}</h2>
    
<ng-include src="'modules/enrollments/enrollments-create-form-partial.html'"></ng-include>

<h3>Manage Enrollments:</h3>
<div>
<p id="noEnrollmentsLabel" ng-if="noEnrollments" style="text-align:center"><em>This course has no enrollments.</em></p>
</div>
<!-- These buttons will later save/cancel all staged results 
<div>
<button type="submit" id="submitAll" ng-click="editAllEnrollments()">Save</button>
<button type="submit" id="cancelAll" ng-click="cancel()">Cancel</button>
</div>
-->
    
<table class="table table-hover" id="enrollmentsList">
<thead>
        <tr><th><a href="" ng-click="orderByField='user.last_name'; reverseSort = !reverseSort"><label id="lastname_label">Last Name</label></a></th>
            <th><a href="" ng-click="orderByField='user.first_name'; reverseSort = !reverseSort"><label id="firstname_label">First Name</label></a></th>
            <th><a href="" ng-click="orderByField='user.email'; reverseSort = !reverseSort"><label id="email_label">Email</label></a></th>
            <th><a href="" ng-click="orderByField='course_role'; reverseSort = !reverseSort"><label id="role_label">Role</label></a></th>
            <th><label>Remove</label></th>
        </tr>
</thead>

<tbody ng-repeat="enrollment in enrollments|orderBy:orderByField:reverseSort">
        <tr ng-attr-id="{{enrollment.user.id}}"><td><span id="lastname">
            <a ng-href="http://localhost:8888/ipeer4/#/users/{{enrollment.user.id}}">
            {{ enrollment.user.last_name }}
            </a>
            </span></td>
            <td><span id="firstname">
            <a ng-href="http://localhost:8888/ipeer4/#/users/{{enrollment.user.id}}">
            {{ enrollment.user.first_name }}
            </a>
            </span></td>
            <td><span id="email">{{ enrollment.user.email }}</span></td>
            <td>
            <form class="form-horizontal" role="form" id="enrollmentEditForm">
            <select id="courseRole" class="form-control" ng-model="enrollment.course_role">
                <option value="0" ng-selected="enrollment.course_role == 0">Student</option>
                <option value="1" ng-selected="enrollment.course_role == 1">Tutor</option>
                <option value="2" ng-selected="enrollment.course_role == 2">Instructor</option>
            </select>
            <button type="submit" id="saveEnrollment" ng-click="editEnrollment(enrollment.user.id, enrollment.course_role)">Save</button>
            </form>
            </td>
            <td><button type="submit" id="removeEnrollment" ng-click="deleteEnrollment(enrollment.user.id)">X</button></td>
        </tr>
</tbody>
</table>
</div>
</div>
